.bg {
margin-left:auto;
margin-right:auto;
margin-top:10%;
width:400px;
height:280px;
background-image:url(../images/login.png);
background-repeat:no-repeat;
}

.form {
position:relative;
top:120px;
left:85px;
line-height:30px;
width: 250px;
}

.input {
width:160px;
}
.code{}
.error{color: red;}

