#content{min-height:300px;height:0;}

#left{width:245px;float: left;}
.list_header{height:32px;line-height:28px;color: #ffffff;font-size: 14px;font-family: 'Microsoft Yahei';text-align: center;line-height: 28px;background-image: url(../images/bg_title.png);}
.msg_list{border-left:5px solid #EEEEEE;border-bottom:3px solid #EEEEEE;border-right:3px solid #EEEEEE;}
.msg_list li {margin-top:2px;padding-left: 26px;line-height:32px;color: #605858;height: 32px;font-weight:800;display: block;overflow: hidden;background: #f7f7f7;border-bottom:1px solid #EEEEEE;}
.msg_list li:hover{background-color: white;color: #9768AC;}
.msg_list a{width:170px; color: #333;display: block;float: left;overflow: hidden;}
.msg_list a:hover{color: #9768AC;}
.msg_list span{float: right;width: 64px;}
.msg_list .curr_title{background-color: white;/*border-top: 1px solid #EEEEEE;*/}
.msg_list .curr_title a{color: #9768AC;}

#right{width:735px;background: #F7F7F7;float: right;border-bottom: 1px solid #EEEEEE;}
.right_title {width: 720px;height: 32px;background-color:#CFCFCF;line-height: 32px;color: #000;font-size: 12px;padding-left: 15px;}
.right_content {width: 727px;background: #EFEDF0;border-left: 5px solid #EEEEEE;border-bottom: 5px solid #EEEEEE;border-right: 3px solid #EEEEEE;}
.comdir{width: 680px;margin: 20px;border: none;background-color: white;}
.comdir td{width:112px;height:112px;text-align:center;border: 1px solid white;}
.comdir td:hover{background-color: #F5FBFF;border: 1px solid #D9F2FD;cursor: pointer;}
.comdir img{width: 88px;height:80px;border: none;}
.activedir{background-color: #E6F3FC;border: 1px solid #ABD6EA;cursor: pointer;}

.breadcrumbs li{float:left;height:32px;line-height: 32px;}
.breadcrumbs li span{margin-left:5px;float:left;}
.breadcrumbs a{color:#696969;font-family:'Microsoft Yahei';font-size:14px;font-weight:bold;margin-left:5px;float:left;}
.breadcrumbs a:hover{color:#9768AC;text-decoration:none;}

#pager{height:34px;border: 1px solid #EEEEEE;float: right;background-color: #F5F5F5;}
#pager .all_page{height:34px;line-height:34px;padding:0 12px;float:left;border: 1px solid #EEEEEE;}
#pager .to_page{height:34px;line-height:34px;float:right;}
#pager .to_page input{width:51px;height:33px;line-height:34px;border: 1px solid #EEEEEE;}
#pager .to_page a{float: right;}
#pager ul{float: left;}
#pager ul li{float: left;border: 1px solid #EEEEEE;}
#pager a{height: 34px;line-height:34px;padding:0 12px;display: block;color: black;}
#pager a:hover{background-color: white;color: #9768AC;}
#pager ul li .active{background-color: white;color: #9768AC;}